@model IEnumerable<Pay>

@{
    ViewBag.Title = "Pay List";
}
<h1 class="text-center">Payment Confirmed</h1>
<hr />


<table class="table mt-2">
    
</table>

@section Scripts {
    <script src="~/js/customScript.js"></script>
}