@model AssignTask
@{
   
    ViewData["Title"] = "Edit AssingTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="AssignTaskId" />
      
            <div class="form-group">
                <label asp-for="AssignTaskName" class="control-label"></label>
                <input asp-for="AssignTaskName" class="form-control" />
                <span asp-validation-for="AssignTaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignTaskDec" class="control-label"></label>
                <input asp-for="AssignTaskDec" class="form-control" />
                <span asp-validation-for="AssignTaskDec" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="AssignTaskEmployeeId" class="control-label">Employee</label>
                <select asp-for="AssignTaskEmployeeId" asp-items="@ViewBag.Employee" class="form-control">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="AssignTaskEmployeeId" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
               
                <select class="form-control" asp-for="Priority" >
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                     <option value="Low">Low</option>
                </select>
            </div>
              <div class="form-group">
                <label asp-for="AssignTaskStatus" class="control-label"></label>
               
                <select class="form-control" asp-for="AssignTaskStatus" >
                    <option value="On Hold">On Hold</option>
                    <option value="Completed">Completed</option>
                    <option value="In Progress">In Progress</option>
                     <option value="In To Do List">In To Do List</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/customScript.js"></script>
   
}
